<% content_for(:head) do %>
  <%= javascript_include_tag 'https://js.braintreegateway.com/v2/braintree.js' %>
<% end %>

<p>About to buy <%= @product.name %> for <%= @product.price %></p>

<%= form_tag checkout_drop_in_path,  id: "checkout", method: "post" do%>
  <div id="dropin"></div>
  <%= hidden_field_tag(:product_id, @product.id) %>
  <input type="submit" value="Buy!">
<% end %>

<% content_for(:bottom) do %>
  <%= javascript_tag do %>
    braintree.setup(
      '<%= @client_token %>',
      'dropin', {
        container: 'dropin'
      });
  <% end %>
<% end %>
